{% extends 'master.html' %}
{% block content %}
<title>Erklärung</title>
<style>
li{
    text-align: left;
}
</style>
<body>
    <p><b>Tippseite zur Leichtathletik <s>WM 23</s> <b>EM 24</b>, vor dem Eintrag erst alles durchlesen!</b></p>
<ul>
    <li>Übersicht: Alle Einträge der Mitspieler & Ergebnisse im Überblick</li>
    <br><li>neuer Eintrag: Hier kann man mitspielen. Oben eigenen Namen eintragen und bei jeder Disziplin eintragen, wer gewinnen wird. 
        <br><b>Wichtig: Den Nachnamen des Athleten eintragen, wie er in der <a target="_blank" href="https://european-athletics.directus.app/assets/abc99f45-61ea-41a0-b87f-fcd2387a5d2e/ECH2024%20-%20FE%20-%20Athletes%20List%20By%20Event%20and%20SB%20-%20V3.pdf" style="color:blue;">Liste</a> steht.<br>
        => bsp: KAUL für Zehnkampf</b></li>
        <br><li>Wenn die Athleten eingetragen sind kann man ganz unten Absenden, erst dann sind die Tipps gespeichert.</li>
        <br><li>Man kann auch erstmal ein paar Athleten eintragen und den Rest nachtragen</li>
        <br><li>Wenn der getippte Athlet 1. wird, gibts 3 Punkte, der 2. Platz gibt 2 Punkte und der 3. Platz 1 Punkt</li>
        <br><li>Die aufaddierten Punktestände findet man bei "Punktestand"</li>
        <br><li>Einträge bitte im Nachhinein nicht mehr verändern und auch keine anderen Personen manipulieren</li>
        <br><li>Falls man was ändern muss (z.B: weil man noch nicht alle Tipps abgegeben hatte), kann man bei der Übersicht auf den eigenen Namen drücken.</li>
        <br><li>Wenn von einer Disziplin Qualifikation oder Vorläufe begonnen haben darf man seinen Tipp nicht mehr ändern!</li>
</ul>
</body>
{% endblock content %}