{% extends 'master.html' %}
{% block content %}
    <h2>Spieler</h2>
    <table>
        <tr>
            <th>Name</th>
            {% for spieler in object_list %}
            <th>{{ spieler.name }} </th>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Frauen</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredW }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>100m Männer</th>
            {% for spieler in object_list %}
            <td>{{ spieler.hundredM }}</td>
            {% endfor %}
        </tr>

    </table>
{% endblock %}